<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FacebookPirata.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CA6520461DCCF61400E6BB34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA65205A1DCCF61500E6BB34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA6520651DCCF61500E6BB34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
